version: 2
updates:
  - package-ecosystem: maven
    directory: /
    open-pull-requests-limit: 10
    schedule:
      interval: daily
    labels:
      - "version-upgrade"

  # npm dependencies
  - package-ecosystem: npm
    directory: ui-super-heroes/src/main/webui
    open-pull-requests-limit: 10
    schedule:
      interval: daily
    target-branch: main
    labels:
      - "version-upgrade"
      - ui


  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 10
    schedule:
      interval: daily
    labels:
      - "version-upgrade"

