/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.hero-card {
}

.card-pf {
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-pf-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-block {
  padding-left: 4rem;
  padding-right: 4rem;
}

.table {
  margin-left: 6rem;
  margin-right: 6rem;
  width: 80%;
  border-spacing: 0;
  box-shadow:
          0px 5px 5px -3px rgba(0, 0, 0, 0.2),
          0px 8px 10px 1px rgba(0, 0, 0, 0.14),
          0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

td {
  padding-left: 24px !important;
}

.rounded {
  width: 80%;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.squared {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.level {
  float: right;
  color: deeppink;
  font-weight: bold;
  border-radius: 50%;
}

.hero-name {
  padding: 20px;
  background: dodgerblue;
  color: white;
  text-align: center;
}

.villain-name {
  padding: 20px;
  background: firebrick;
  color: white;
  text-align: center;
}

.winner-text {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.winner-hero {
  color: dodgerblue;
}

.winner-villain {
  color: firebrick;
}

.hero-winner-card {
  box-shadow:
          inset 0 0 10px #fff,
          inset 20px 0 50px #77b4f0,
          inset -20px 0 60px #5fc3d7,
          inset 20px 0 100px #4a54ff,
          inset -20px 0 100px #0ff,
          0 0 50px #fff,
          -10px 0 50px #4a54ff,
          10px 0 50px #0ff;
}

.villain-winner-card {
  box-shadow:
          inset 0 0 10px #fff,
          inset 20px 0 50px #F078C2,
          inset -20px 0 60px #D73B46,
          inset 20px 0 100px #FF5B68,
          inset -20px 0 100px #FF5A71,
          0 0 50px #fff,
          -10px 0 50px #FF5B68,
          10px 0 50px #FF5B68;
}

#fight-row {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.2fr;
  grid-auto-flow: column;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 30px;
  gap: 2rem;
}

.fight-list-header {
  text-align: center;
  vertical-align: middle !important;
  background: darkgray;
  color: white;
  font-size: medium;
  font-weight: bold;
}

.fight-list-cell {
  text-align: center;
  vertical-align: middle !important;
}

.powers {
  font-size: xx-large;
}

.character {
  margin: 2rem;
}

.hero {
  color: dodgerblue;
}

.villain {
  color: firebrick;
}

.collapse {
  padding: 10px;
}

.narration-text {
  font-weight: lighter;
  font-size: small;
  text-align: justify;
  white-space: pre-wrap;
}
