
  villains-db:
    image: postgres:14
    container_name: villains-db
    ports:
      - "5432"
    environment:
      POSTGRES_USER: superbad
      POSTGRES_PASSWORD: superbad
      POSTGRES_DB: villains_database
    volumes:
      - ../../../rest-villains/deploy/db-init/initialize-tables.sql:/docker-entrypoint-initdb.d/1-init-tables.sql
