@media (min-width: 768px) {
  .sidebar.main {
    width: 18rem;
  }

  .main-content {
    margin-left: 19rem;
  }
}

.wrapper {
  max-width: none !important;
}

.page-content .content-main {
  max-width: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.content-prose img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
