name: Quarkus ecosystem CI

on:
  watch:
    types: [started]

env:
  ECOSYSTEM_CI_REPO: quarkusio/quarkus-ecosystem-ci
  ECOSYSTEM_CI_REPO_FILE: context.yaml
  ECOSYSTEM_CI_REPO_PATH: quarkus-super-heroes

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    if: github.actor == 'quarkusbot'
    steps:
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          path: current-repo

      - name: Checkout Ecosystem
        uses: actions/checkout@v4
        with:
          repository: ${{ env.ECOSYSTEM_CI_REPO }}
          path: ecosystem-ci

      - name: Setup and Run Tests
        run: ./ecosystem-ci/setup-and-test
        env:
          ECOSYSTEM_CI_TOKEN: ${{ secrets.ECOSYSTEM_CI_TOKEN }}
          QUARKUS_VERSION_POM_PATH: rest-fights
          QUARKUS_VERSION_POM_PROPERTY: quarkus.platform.version
          # ALTERNATIVE: 3.14.x
