name: Test building multi-arch images

on:
  workflow_dispatch:
  
concurrency:
  group: "workflow = ${{ github.workflow }}, ref = ${{ github.event.ref }}"
  cancel-in-progress: false
  
jobs:
  build-ui-image:
   if: (github.repository == 'quarkusio/quarkus-super-heroes') && (github.ref == 'refs/heads/main')
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v3

     - name: Set up Docker Buildx
       id: buildx
       uses: docker/setup-buildx-action@v2
       
     - name: Set up QEMU
       uses: docker/setup-qemu-action@v2
       with:
         platforms: arm64

     - name: Inspect builder
       run: |
         echo "Name:      ${{ steps.buildx.outputs.name }}"
         echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
         echo "Status:    ${{ steps.buildx.outputs.status }}"
         echo "Flags:     ${{ steps.buildx.outputs.flags }}"
         echo "Platforms: ${{ steps.buildx.outputs.platforms }}"
